@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}
}

mn-input {
  position: relative;
  display: inline-block;
  margin: 2.5em .1em 0;

  input {
    width: 100%;
    border: 0;
    outline: 0;
    line-height: 2em;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0 .1em;
    margin-bottom: .5em;
    box-shadow: 0 1px 0 map-get($grey, 200);
    transition: box-shadow .2s ease;
    text-overflow: ellipsis;
    user-select: none;


    @include placeholder {
      color: transparent;
      pointer-events: none;
    }

    &[readonly] {
      pointer-events: none;
    }

    &:invalid {
      box-shadow: 0 2px 0 map-get($pink, 400);
    }

    &:focus {
      box-shadow: 0 2px 0 map-get($grey, 900);
    }


    &:disabled {
      box-shadow: 0 1px 0 map-get($grey, 50);
      color: map-get($grey, 200);
    }
  }
}
