html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='parallax-scrolling.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }


body
  p home
  .parallax
    .layer.background.home
    .layer.base
    
    .layer.background.testimonials
    .layer.base

    .layer.background.cooking-classes
    .layer.base

    .layer.background.the-books
    .layer.base

    .layer.background.contact
    footer.layer.base.footer

  
  script(src='parallax-scrolling.js')

